{% extends 'base.html' %}


{% block main %}
<div class="section" style="display: flex; flex-direction: row; margin-top: 40px; justify-content: space-around;">
    <div class="left" style="display: flex; flex-direction: column; width: 700px; align-items: center; ">
        <img style="height: 400px; width: 600px; border-radius: 10px;" src="{{  tenis.imagem.url  }}" alt="tenis">
        <div style="width: 100%;" class="carrosel">
            <div
                style="display: flex;flex-direction: row; justify-content: space-evenly; gap: 10px; align-items: center;margin-top: 10px">
                <div style="border: 3px; border-color: #fbb428; border-radius: 5px; border-style:outset;"><img
                        style="width: 115px; height: 115px;" src="{{  tenis.imagem.url  }}" alt=""></div>
                <div style="background-color: gray; width: 115px; height: 115px;"></div>
                <div style="background-color: gray; width: 115px; height: 115px;"></div>
                <div style="background-color: gray; width: 115px; height: 115px;"></div>
            </div>
        </div>
    </div>
    <div class="right"
        style="display: flex; flex-direction: column; width: 500px; background-color: rgb(236, 236, 236); padding: 25px; border-radius: 10px; margin-right: 3%;">
        <h1 style="font-family: 'Bebas Neue', sans-serif; font-size: 46px;">{{ tenis.nome }}</h1>
        <h3 style="color: rgb(59, 59, 59);font-family: 'Bebas Neue', sans-serif; font-size: 30px;">{{ tenis.marca }}
        </h3>

        <div
            style="background-color: black; height: 1px; width: 450px; align-self: center; margin-top: 25px; margin-bottom: 25px;">
        </div>


        <div style="display: flex; align-items: baseline;">
            <h2>{{ tenis.valor }}</h2>
            <p style="margin-left: 10px;">em até 10x no cartão</p>
        </div>
        <div style="margin-top: 30px;">
            <h2 style="font-family: 'Teko', sans-serif; font-size: 40px;">Tamanhos</h2>
            <div style="align-items: center; margin-left: 5%;">
                <div
                    style="width: 400px; display: flex;flex-direction: row; flex-wrap: wrap; justify-content: space-around; gap: 15px;">
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">28</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">29</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">30</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">31</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">32</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">33</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">34</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">35</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">36</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">37</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">38</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">39</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">40</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">41</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">42</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">43</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">44</p>
                    </div>
                    <div
                        style="width: 30px; height: 30px; border-radius: 5px; border-color: black; border-style: solid; border-width: 2px;">
                        <p style="align-self: center; padding-left: 20%;">45</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            style="background-color: black; height: 1px; width: 450px; align-self: center; margin-top: 25px; margin-bottom: 25px;">
        </div>


        <form method="post" action="{% url 'adicionar_ao_carrinho' tenis.id %}">
            {% csrf_token %}
            <div
                style="margin-left: 11%; margin-right: 11%; margin-top: 5px;display: flex; justify-content: space-around; align-items: center;">

                <div class="form-group col">
                    <label for="quantidade">Quantidade:</label>
                    <select class="form-control" name="quantidade" value="1" min="1" id="quantidade"
                        style="width: 70px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <style>
                    /* Estilos para tornar a âncora semelhante a um botão */
                    .botao-link {
                        display: inline-block;
                        padding: 24px 15px;
                        text-align: center;
                        font-family: 'Barlow Condensed', sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        text-decoration: none;
                        background-color: #fbb428;
                        /* Cor de fundo do botão */
                        color: #002992;
                        /* Cor do texto */
                        border-radius: 15px;
                        /* Bordas arredondadas */
                    }
                </style>
                <div class="col">
                    <button type="submit" class="botao-link">Adicionar ao Carrinho</button>

                </div>
        </form>
    </div>
</div>


{% endblock main %}